# type of database. Run with -dbhelp for details
schemaspy.t=mysql
# database properties: host, port number, name user, password
schemaspy.host=mysql
schemaspy.port=3306
schemaspy.db=[YOUR DB NAME]
schemaspy.u=[YOUR DB USER]
schemaspy.p=[YOUR DB PASSWORD]
# db scheme for which generate diagrams
schemaspy.s=[YOUR DB NAME]
