# global
TZ=Tokyo/Asia
ENVIRONMENT=development

# for database
MYSQL_ROOT_PASSWORD=practice

# for Rails
RAILS_DB_HOST=mysql
RAILS_DB_USERNAME=root
RAILS_DB_PASSWORD=practice

TMDB_API_KEY=[ENTER YOU API KEY]

AUTH0_DOMAIN=[YOUR auth0 domain]
AUTH0_CLIENT_ID=[YOUR auth0 client_id]
AUTH0_CLIENT_SECRET=[YOUR auth0 client_secret]
AUTH0_FRONTEND_CLIENT_ID=[YOUR clientside auth0 client_id]
