# global
TZ=Tokyo/Asia
ENVIRONMENT=development

# for database
MYSQL_ROOT_PASSWORD=practice

# for Rails
RAILS_DB_HOST=mysql
RAILS_DB_USERNAME=root
RAILS_DB_PASSWORD=practice

TMDB_API_KEY=[ENTER YOU API KEY]
