# global
TZ=Asia/Tokyo
ENVIRONMENT=development

# for database
MYSQL_ROOT_PASSWORD=practice

# for Rails
RAILS_DB_HOST=mysql
RAILS_DB_USERNAME=root
RAILS_DB_PASSWORD=practice

TMDB_API_KEY=[ENTER YOUR API KEY]

ADMIN_EMAIL=[YOUR EMAIL]
ADMIN_NAM=[YOUR EMAIL]
ADMIN_SUB=[YOUR AUTH0 SUB]

AUTH0_DOMAIN=[YOUR auth0 DOMAIN]
AUTH0_M2M_CLIENT_ID=[YOUR auth0 CLIENT_ID]
AUTH0_M2M_CLIENT_SECRET=[YOUR auth0 CLINENT_SECRET]
AUTH0_CLIENT_ID=[YOUR clientside auth0 CLIENT_ID]
